---
import { NAV_LINKS } from '../consts';
---
<style>
  .nav {
      display: flex;
      justify-content: flex-end;
      font-size: 0.9rem;
      margin-bottom: 1rem;
  }
  
  .nav a {
      text-decoration: none;
      color: #555;
      margin-left: 1rem;
  }
  
  .nav a:hover {
      text-decoration: underline;
  }
</style>
<nav class="nav">
    {NAV_LINKS.map((link) => (
        <a href={link.url}>{link.title}</a>
    ))}
</nav>